.HomeMainDiv {
    width: 90vw;
    /* height: 90vh; */
    text-align: center;
    margin: 5vh 5vw;
    border: none;
    scroll-behavior: smooth;
    font-family: 'Mustica';
    color: black;
}

.ProfilePic {
    border-radius: 100%;
    width: 35vh;
}

.HomeGreeting {
    font-family: 'Mustica';
    font-size: 2.5em;
    padding-top: 3vh;
    padding-bottom: 0vh;
}

.HomeSection {
    font-family: 'Mustica';
    font-size: 2.5em;
    padding-top: 5vh;
    padding-bottom: 3vh;
}

.HomeAbout {
    font-family: 'Mustica';
    padding: 1.5vh 1.5vh 6.5vh 1.5vh;
    font-size: 1.3em;
    width: 70%;
    margin: auto;
}

.Home.Flex.Row{
    display: flex;
    justify-content: center;
}

.Home.Icon {
    width: 3rem;
    padding: 1.5vh 1vh 1vh 1vh;
}


.Home.Icon:hover {
    transform: scale(1.1);
}



/* For Desktop */
@media only screen and (min-aspect-ratio: 3/4) {



}
  
/* For Mobile */
@media only screen and (max-aspect-ratio: 3/4) {

    .Home.Icon {
        width: 8vw;
    }

    .HomeAbout {
        font-size: 1.1em;
    }
}