.smallerText {
    margin: 5vh;
}

.largerText {
    font-size: 7rem;
}

.homeIcon {
    color: black;
    position: absolute;
}

.AgeMainText {
    font-size: 2rem;
    font-variant-caps: all-petite-caps;
}

.AgeFullYears {
    position: relative;
    font-size: 7rem;
    font-weight: normal;
}

.AgeDecimalText {
    position: absolute;
    font-size: 3rem;
    font-weight: normal;
    top: 1.5rem;
}

.AmazonLogo {
    max-width: 90vw;
    margin-bottom: 5vh;
}

/* For Desktop */
@media only screen and (min-aspect-ratio: 3/4) {
    .AgeMainText {
        font-size: 2rem;
        font-variant-caps: all-petite-caps;
        padding-bottom: 10vh;
    }
    
    .AgeFullYears {
        position: relative;
        font-size: 7rem;
    }
    
    .AgeDecimalText {
        position: absolute;
        font-size: 3rem;
        top: 1.5rem;
    }

    .homeIcon {
        top: 5vh;
        left: 5vw;
    }
}
  
/* For Mobile */
@media only screen and (max-aspect-ratio: 3/4) {
    .AgeMainText {
        font-size: 2rem;
        font-variant-caps: all-petite-caps;
        padding-bottom: 10vh;
        padding-top: 5vh;
    }
    
    .AgeFullYears {
        position: relative;
        font-size: 3.5rem;
    }
    
    .AgeDecimalText {
        position: absolute;
        font-size: 1.5rem;
        top: 0.75rem;
    }

    .homeIcon {
        top: 5vh;
        left: 5vw;
    }

    .largerText {
        line-height: 5rem;
    }

    .smallerText {
        line-height: 2.2rem;
    }
}